[Unit]
Description=Minecraft Service
After=default.target

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/java -jar /minecraft/forge-1.20.1-47.2.20-installer.jar
